<br><br>
<h1>News Feed</h1>
<div class="row" id="newsfeed"> <!-- Top rated / favorites -->
    <div class="col-md-4">
    	<div class="thumbnail">
	    	<a href="http://imgur.com/vySviWh">
	    		<img class="postimage" src="http://i.imgur.com/vySviWh.jpg">
	    	</a>
        	<button type="button" class="btn btn-default btn-lg like" value="not liked" onClick="like(this)">
        		<span class="glyphicon glyphicon-heart-empty"></span>
        	</button>
    		<div class="posttitle caption">
    			PS4 Controller
    		</div>
    		<div class="postauthor caption"> 
    			Pien
    		</div>
	    </div>
    </div>

    <div class="col-md-4">
    	<div class="thumbnail">
	    	<a href="http://imgur.com/vySviWh">
	    		<img class="postimage" src="http://i.imgur.com/vySviWh.jpg">
	    	</a>
        	<button type="button" class="btn btn-default btn-lg like" value="not liked" onClick="like(this)">
        		<span class="glyphicon glyphicon-heart-empty"></span>
        	</button>
    		<div class="posttitle caption">
    			PS4 Controller
    		</div>
    		<div class="postauthor caption"> 
    			Pien
    		</div>
	    </div>
    </div>

        <div class="col-md-4">
    	<div class="thumbnail">
	    	<a href="http://imgur.com/vySviWh">
	    		<img class="postimage" src="http://i.imgur.com/vySviWh.jpg">
	    	</a>
        	<button type="button" class="btn btn-default btn-lg like" value="not liked" onClick="like(this)">
        		<span class="glyphicon glyphicon-heart-empty"></span>
        	</button>
    		<div class="posttitle caption">
    			PS4 Controller
    		</div>
    		<div class="postauthor caption"> 
    			Pien
    		</div>
	    </div>
    </div>

    <div class="col-md-4">
    	<div class="thumbnail">
	    	<a href="http://imgur.com/vySviWh">
	    		<img class="postimage" src="http://i.imgur.com/vySviWh.jpg">
	    	</a>
        	<button type="button" class="btn btn-default btn-lg like" value="not liked" onClick="like(this)">
        		<span class="glyphicon glyphicon-heart-empty"></span>
        	</button>
    		<div class="posttitle caption">
    			PS4 Controller
    		</div>
    		<div class="postauthor caption"> 
    			Pien
    		</div>
	    </div>
    </div>


</div><!--/newsfeed-->
