<br><br>
<div class="pageTitle">
	<h1>Popular Stashes</h1>
</div>

<div class="row" style="margin-left:15px;"> <!-- Your Stashes -->
	<% if @stashes.nil?%>
		<p>There are no stashes.</p>
	<% else%>
  <%= render partial:"shared/stash_display", locals:{stashes: @stashes} %>
  <% end %>
</div>
