hello world
<%=@users.inspect%>
<br><br>

<div class="container">
	<div id="recommended"> <!-- Top rated / favorites -->
		<h1>Recommended for you</h1>
	  	<div class="row">
	    <div class="col-md-4">
	    	<a href="http://books.google.com/books?id=R-q4fJB2iNsC&pg=PA55&lpg=PA55&dq=george+hw+bush+komodo+dragon&source=bl&ots=UKVxd7NG-D&sig=NwoOW4LkebnhbrEti-W4ulM4ETo&hl=en&sa=X&ei=f8qHUv_QHOKi2wWRk4CIAQ&ved=0CGkQ6AEwCg#v=onepage&q=george%20hw%20bush%20komodo%20dragon&f=false" class="thumbnail" style="top:0px;">
	    		Article
	    	</a>
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	   	<div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>	    
	    <div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	  </div>
	</div><!--/recommended-->
	<div id="newsfeed"> <!-- Recent posts -->
		<h1>Recent Posts</h1>
		<p>Howard posted: </p>
	  <div class="row">
	    <div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	   	<div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>	    
	    <div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	  </div>
	  <p>Pien posted: </p>
	  <div class="row">
	    <div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	   	<div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>	    
	    <div class="col-md-4">
	      <h2>Title</h2>
	      <p>Text</p>
	      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	    </div>
	  </div>
	</div><!--/newsfeed-->

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>
</div> <!-- /container -->