<h2>Profile </h2>
<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>
<% if current_user.name==@user.name %>

<h2>
  Your Stashes
  <%= render partial:"stash/stash_form" %>
</h2>
<% end %> 
<% if @stashes.length==0%>
  <h4>There are no stashes! Add some on the right.</h4>
<% else%>
  <br>
  <%= render partial:"shared/stash_display", locals:{stashes: @stashes} %>
<% end%>
