<%= form_for(@stash, :class=>"navbar-form") do |f|%>
<div class="form-group">
  <%= f.text_field(:name, {:placeholder=>"Add a Stash",:class=>"form-control"}) %>
</div>
<div class="form-group">
  <%= f.submit("Add", :class=>"btn btn-success") %>
</div>
<% end %>
