<div class="row">
<%= form_for(@stash, :class=>"form-inline") do |f|%>
<div class="col-xs-3">
  <%= f.text_field(:name, {:placeholder=>"Add a Stash",:class=>"form-control"}) %>
</div>
  <%= f.submit("Add", :class=>"btn btn-success") %>
<% end %>
</div>
