<h1><%=@stash.name%></h1>
<% Post.where(stash_id: @stash.id).each do |post|%>
<h2>
<%=post.url%>
</h2>
<a href="<%= post.url %>"/>
<img src="http://free.pagepeeker.com/v2/thumbs.php?size=m&url=<%=post.url%>"/>
</a>
<% end %>

