.hide{
    display:none;

}

body {
    background:url("http://www.rndo.eu/wp-content/uploads/2011/12/black-gradient.jpg"); 
    color: white !important;
    border-radius: 0px !important;
    font-family:'Roboto Condensed', sans-serif !important;
}

.container{


}
.title-block{
    padding:15px;
    margin:10px;
    width: 400px;
    display:inline-block;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.navbar{
    background-color: rgb(185, 9, 11) !important;
    border-radius:0px !important;
    color: white !important;
}
.thumbnail{
    opacity:.7;
}

.thumbnail:hover{
    border:-2px solid rgb(185, 9, 11) !important;
    opacity: 1;
}
a.navbar-brand{
    font-size:24px !important;
    color:white !important;
    text-shadow: 0.1em 0.1em #333;
}

.comments{
    width:400px;
    float:left;
    margin:50px;
}

h1{
        font-family:'Roboto Condensed', sans-serif !important;

}
a{
    color:white !important;
}
.postAuthor a{
    color:black !important;

}
.stash-header{
    display:block;

}


.float-right{
    float:right;
}